---
const { subtitle, title, text, datelabel, timelabel } = Astro.props;
import Button from "./Button.astro";
import { Image } from "astro:assets";
import billede1 from "../images/placeholder-img-1.jpg";
import billede2 from "../images/placeholder-img-2.jpg";
import billede3 from "../images/placeholder-img-3.jpg";
---

<section class="infomoede">
  <div class="information">
    <div class="info-header">
      <p class="subtitle">{subtitle}</p>
      <h2>{title}</h2>
      <p>{text}</p>
    </div>
    <div class="kalender">
      <dl>
        <dt>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.25 2.5H14.375V1.875C14.375 1.70924 14.3092 1.55027 14.1919 1.43306C14.0747 1.31585 13.9158 1.25 13.75 1.25C13.5842 1.25 13.4253 1.31585 13.3081 1.43306C13.1908 1.55027 13.125 1.70924 13.125 1.875V2.5H6.875V1.875C6.875 1.70924 6.80915 1.55027 6.69194 1.43306C6.57473 1.31585 6.41576 1.25 6.25 1.25C6.08424 1.25 5.92527 1.31585 5.80806 1.43306C5.69085 1.55027 5.625 1.70924 5.625 1.875V2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM6.5625 14.375C6.37708 14.375 6.19582 14.32 6.04165 14.217C5.88748 14.114 5.76732 13.9676 5.69636 13.7963C5.62541 13.625 5.60684 13.4365 5.64301 13.2546C5.67919 13.0727 5.76848 12.9057 5.89959 12.7746C6.0307 12.6435 6.19775 12.5542 6.3796 12.518C6.56146 12.4818 6.74996 12.5004 6.92127 12.5714C7.09257 12.6423 7.23899 12.7625 7.342 12.9167C7.44502 13.0708 7.5 13.2521 7.5 13.4375C7.5 13.6861 7.40123 13.9246 7.22541 14.1004C7.0496 14.2762 6.81114 14.375 6.5625 14.375ZM10 14.375C9.81458 14.375 9.63332 14.32 9.47915 14.217C9.32498 14.114 9.20482 13.9676 9.13386 13.7963C9.06291 13.625 9.04434 13.4365 9.08051 13.2546C9.11669 13.0727 9.20598 12.9057 9.33709 12.7746C9.4682 12.6435 9.63525 12.5542 9.8171 12.518C9.99896 12.4818 10.1875 12.5004 10.3588 12.5714C10.5301 12.6423 10.6765 12.7625 10.7795 12.9167C10.8825 13.0708 10.9375 13.2521 10.9375 13.4375C10.9375 13.6861 10.8387 13.9246 10.6629 14.1004C10.4871 14.2762 10.2486 14.375 10 14.375ZM10 11.25C9.81458 11.25 9.63332 11.195 9.47915 11.092C9.32498 10.989 9.20482 10.8426 9.13386 10.6713C9.06291 10.5 9.04434 10.3115 9.08051 10.1296C9.11669 9.94775 9.20598 9.7807 9.33709 9.64959C9.4682 9.51848 9.63525 9.42919 9.8171 9.39301C9.99896 9.35684 10.1875 9.37541 10.3588 9.44636C10.5301 9.51732 10.6765 9.63748 10.7795 9.79165C10.8825 9.94582 10.9375 10.1271 10.9375 10.3125C10.9375 10.5611 10.8387 10.7996 10.6629 10.9754C10.4871 11.1512 10.2486 11.25 10 11.25ZM13.4375 14.375C13.2521 14.375 13.0708 14.32 12.9167 14.217C12.7625 14.114 12.6423 13.9676 12.5714 13.7963C12.5004 13.625 12.4818 13.4365 12.518 13.2546C12.5542 13.0727 12.6435 12.9057 12.7746 12.7746C12.9057 12.6435 13.0727 12.5542 13.2546 12.518C13.4365 12.4818 13.625 12.5004 13.7963 12.5714C13.9676 12.6423 14.114 12.7625 14.217 12.9167C14.32 13.0708 14.375 13.2521 14.375 13.4375C14.375 13.6861 14.2762 13.9246 14.1004 14.1004C13.9246 14.2762 13.6861 14.375 13.4375 14.375ZM13.4375 11.25C13.2521 11.25 13.0708 11.195 12.9167 11.092C12.7625 10.989 12.6423 10.8426 12.5714 10.6713C12.5004 10.5 12.4818 10.3115 12.518 10.1296C12.5542 9.94775 12.6435 9.7807 12.7746 9.64959C12.9057 9.51848 13.0727 9.42919 13.2546 9.39301C13.4365 9.35684 13.625 9.37541 13.7963 9.44636C13.9676 9.51732 14.114 9.63748 14.217 9.79165C14.32 9.94582 14.375 10.1271 14.375 10.3125C14.375 10.5611 14.2762 10.7996 14.1004 10.9754C13.9246 11.1512 13.6861 11.25 13.4375 11.25ZM16.25 6.25H3.75V3.75H5.625V4.375C5.625 4.54076 5.69085 4.69973 5.80806 4.81694C5.92527 4.93415 6.08424 5 6.25 5C6.41576 5 6.57473 4.93415 6.69194 4.81694C6.80915 4.69973 6.875 4.54076 6.875 4.375V3.75H13.125V4.375C13.125 4.54076 13.1908 4.69973 13.3081 4.81694C13.4253 4.93415 13.5842 5 13.75 5C13.9158 5 14.0747 4.93415 14.1919 4.81694C14.3092 4.69973 14.375 4.54076 14.375 4.375V3.75H16.25V6.25Z"
              fill="#CE5501"></path>
          </svg>
          <strong>06 Januar</strong> 2026
        </dt>
        <dd>{timelabel}</dd>
        <dt>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.25 2.5H14.375V1.875C14.375 1.70924 14.3092 1.55027 14.1919 1.43306C14.0747 1.31585 13.9158 1.25 13.75 1.25C13.5842 1.25 13.4253 1.31585 13.3081 1.43306C13.1908 1.55027 13.125 1.70924 13.125 1.875V2.5H6.875V1.875C6.875 1.70924 6.80915 1.55027 6.69194 1.43306C6.57473 1.31585 6.41576 1.25 6.25 1.25C6.08424 1.25 5.92527 1.31585 5.80806 1.43306C5.69085 1.55027 5.625 1.70924 5.625 1.875V2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM6.5625 14.375C6.37708 14.375 6.19582 14.32 6.04165 14.217C5.88748 14.114 5.76732 13.9676 5.69636 13.7963C5.62541 13.625 5.60684 13.4365 5.64301 13.2546C5.67919 13.0727 5.76848 12.9057 5.89959 12.7746C6.0307 12.6435 6.19775 12.5542 6.3796 12.518C6.56146 12.4818 6.74996 12.5004 6.92127 12.5714C7.09257 12.6423 7.23899 12.7625 7.342 12.9167C7.44502 13.0708 7.5 13.2521 7.5 13.4375C7.5 13.6861 7.40123 13.9246 7.22541 14.1004C7.0496 14.2762 6.81114 14.375 6.5625 14.375ZM10 14.375C9.81458 14.375 9.63332 14.32 9.47915 14.217C9.32498 14.114 9.20482 13.9676 9.13386 13.7963C9.06291 13.625 9.04434 13.4365 9.08051 13.2546C9.11669 13.0727 9.20598 12.9057 9.33709 12.7746C9.4682 12.6435 9.63525 12.5542 9.8171 12.518C9.99896 12.4818 10.1875 12.5004 10.3588 12.5714C10.5301 12.6423 10.6765 12.7625 10.7795 12.9167C10.8825 13.0708 10.9375 13.2521 10.9375 13.4375C10.9375 13.6861 10.8387 13.9246 10.6629 14.1004C10.4871 14.2762 10.2486 14.375 10 14.375ZM10 11.25C9.81458 11.25 9.63332 11.195 9.47915 11.092C9.32498 10.989 9.20482 10.8426 9.13386 10.6713C9.06291 10.5 9.04434 10.3115 9.08051 10.1296C9.11669 9.94775 9.20598 9.7807 9.33709 9.64959C9.4682 9.51848 9.63525 9.42919 9.8171 9.39301C9.99896 9.35684 10.1875 9.37541 10.3588 9.44636C10.5301 9.51732 10.6765 9.63748 10.7795 9.79165C10.8825 9.94582 10.9375 10.1271 10.9375 10.3125C10.9375 10.5611 10.8387 10.7996 10.6629 10.9754C10.4871 11.1512 10.2486 11.25 10 11.25ZM13.4375 14.375C13.2521 14.375 13.0708 14.32 12.9167 14.217C12.7625 14.114 12.6423 13.9676 12.5714 13.7963C12.5004 13.625 12.4818 13.4365 12.518 13.2546C12.5542 13.0727 12.6435 12.9057 12.7746 12.7746C12.9057 12.6435 13.0727 12.5542 13.2546 12.518C13.4365 12.4818 13.625 12.5004 13.7963 12.5714C13.9676 12.6423 14.114 12.7625 14.217 12.9167C14.32 13.0708 14.375 13.2521 14.375 13.4375C14.375 13.6861 14.2762 13.9246 14.1004 14.1004C13.9246 14.2762 13.6861 14.375 13.4375 14.375ZM13.4375 11.25C13.2521 11.25 13.0708 11.195 12.9167 11.092C12.7625 10.989 12.6423 10.8426 12.5714 10.6713C12.5004 10.5 12.4818 10.3115 12.518 10.1296C12.5542 9.94775 12.6435 9.7807 12.7746 9.64959C12.9057 9.51848 13.0727 9.42919 13.2546 9.39301C13.4365 9.35684 13.625 9.37541 13.7963 9.44636C13.9676 9.51732 14.114 9.63748 14.217 9.79165C14.32 9.94582 14.375 10.1271 14.375 10.3125C14.375 10.5611 14.2762 10.7996 14.1004 10.9754C13.9246 11.1512 13.6861 11.25 13.4375 11.25ZM16.25 6.25H3.75V3.75H5.625V4.375C5.625 4.54076 5.69085 4.69973 5.80806 4.81694C5.92527 4.93415 6.08424 5 6.25 5C6.41576 5 6.57473 4.93415 6.69194 4.81694C6.80915 4.69973 6.875 4.54076 6.875 4.375V3.75H13.125V4.375C13.125 4.54076 13.1908 4.69973 13.3081 4.81694C13.4253 4.93415 13.5842 5 13.75 5C13.9158 5 14.0747 4.93415 14.1919 4.81694C14.3092 4.69973 14.375 4.54076 14.375 4.375V3.75H16.25V6.25Z"
              fill="#CE5501"></path>
          </svg>
          <strong>03 Februar</strong> 2026
        </dt>
        <dd>{timelabel}</dd>
        <dt>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.25 2.5H14.375V1.875C14.375 1.70924 14.3092 1.55027 14.1919 1.43306C14.0747 1.31585 13.9158 1.25 13.75 1.25C13.5842 1.25 13.4253 1.31585 13.3081 1.43306C13.1908 1.55027 13.125 1.70924 13.125 1.875V2.5H6.875V1.875C6.875 1.70924 6.80915 1.55027 6.69194 1.43306C6.57473 1.31585 6.41576 1.25 6.25 1.25C6.08424 1.25 5.92527 1.31585 5.80806 1.43306C5.69085 1.55027 5.625 1.70924 5.625 1.875V2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM6.5625 14.375C6.37708 14.375 6.19582 14.32 6.04165 14.217C5.88748 14.114 5.76732 13.9676 5.69636 13.7963C5.62541 13.625 5.60684 13.4365 5.64301 13.2546C5.67919 13.0727 5.76848 12.9057 5.89959 12.7746C6.0307 12.6435 6.19775 12.5542 6.3796 12.518C6.56146 12.4818 6.74996 12.5004 6.92127 12.5714C7.09257 12.6423 7.23899 12.7625 7.342 12.9167C7.44502 13.0708 7.5 13.2521 7.5 13.4375C7.5 13.6861 7.40123 13.9246 7.22541 14.1004C7.0496 14.2762 6.81114 14.375 6.5625 14.375ZM10 14.375C9.81458 14.375 9.63332 14.32 9.47915 14.217C9.32498 14.114 9.20482 13.9676 9.13386 13.7963C9.06291 13.625 9.04434 13.4365 9.08051 13.2546C9.11669 13.0727 9.20598 12.9057 9.33709 12.7746C9.4682 12.6435 9.63525 12.5542 9.8171 12.518C9.99896 12.4818 10.1875 12.5004 10.3588 12.5714C10.5301 12.6423 10.6765 12.7625 10.7795 12.9167C10.8825 13.0708 10.9375 13.2521 10.9375 13.4375C10.9375 13.6861 10.8387 13.9246 10.6629 14.1004C10.4871 14.2762 10.2486 14.375 10 14.375ZM10 11.25C9.81458 11.25 9.63332 11.195 9.47915 11.092C9.32498 10.989 9.20482 10.8426 9.13386 10.6713C9.06291 10.5 9.04434 10.3115 9.08051 10.1296C9.11669 9.94775 9.20598 9.7807 9.33709 9.64959C9.4682 9.51848 9.63525 9.42919 9.8171 9.39301C9.99896 9.35684 10.1875 9.37541 10.3588 9.44636C10.5301 9.51732 10.6765 9.63748 10.7795 9.79165C10.8825 9.94582 10.9375 10.1271 10.9375 10.3125C10.9375 10.5611 10.8387 10.7996 10.6629 10.9754C10.4871 11.1512 10.2486 11.25 10 11.25ZM13.4375 14.375C13.2521 14.375 13.0708 14.32 12.9167 14.217C12.7625 14.114 12.6423 13.9676 12.5714 13.7963C12.5004 13.625 12.4818 13.4365 12.518 13.2546C12.5542 13.0727 12.6435 12.9057 12.7746 12.7746C12.9057 12.6435 13.0727 12.5542 13.2546 12.518C13.4365 12.4818 13.625 12.5004 13.7963 12.5714C13.9676 12.6423 14.114 12.7625 14.217 12.9167C14.32 13.0708 14.375 13.2521 14.375 13.4375C14.375 13.6861 14.2762 13.9246 14.1004 14.1004C13.9246 14.2762 13.6861 14.375 13.4375 14.375ZM13.4375 11.25C13.2521 11.25 13.0708 11.195 12.9167 11.092C12.7625 10.989 12.6423 10.8426 12.5714 10.6713C12.5004 10.5 12.4818 10.3115 12.518 10.1296C12.5542 9.94775 12.6435 9.7807 12.7746 9.64959C12.9057 9.51848 13.0727 9.42919 13.2546 9.39301C13.4365 9.35684 13.625 9.37541 13.7963 9.44636C13.9676 9.51732 14.114 9.63748 14.217 9.79165C14.32 9.94582 14.375 10.1271 14.375 10.3125C14.375 10.5611 14.2762 10.7996 14.1004 10.9754C13.9246 11.1512 13.6861 11.25 13.4375 11.25ZM16.25 6.25H3.75V3.75H5.625V4.375C5.625 4.54076 5.69085 4.69973 5.80806 4.81694C5.92527 4.93415 6.08424 5 6.25 5C6.41576 5 6.57473 4.93415 6.69194 4.81694C6.80915 4.69973 6.875 4.54076 6.875 4.375V3.75H13.125V4.375C13.125 4.54076 13.1908 4.69973 13.3081 4.81694C13.4253 4.93415 13.5842 5 13.75 5C13.9158 5 14.0747 4.93415 14.1919 4.81694C14.3092 4.69973 14.375 4.54076 14.375 4.375V3.75H16.25V6.25Z"
              fill="#CE5501"></path>
          </svg>
          <strong>17 Marts</strong> 2026
        </dt>
        <dd>{timelabel}</dd>
        <dt>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.25 2.5H14.375V1.875C14.375 1.70924 14.3092 1.55027 14.1919 1.43306C14.0747 1.31585 13.9158 1.25 13.75 1.25C13.5842 1.25 13.4253 1.31585 13.3081 1.43306C13.1908 1.55027 13.125 1.70924 13.125 1.875V2.5H6.875V1.875C6.875 1.70924 6.80915 1.55027 6.69194 1.43306C6.57473 1.31585 6.41576 1.25 6.25 1.25C6.08424 1.25 5.92527 1.31585 5.80806 1.43306C5.69085 1.55027 5.625 1.70924 5.625 1.875V2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM6.5625 14.375C6.37708 14.375 6.19582 14.32 6.04165 14.217C5.88748 14.114 5.76732 13.9676 5.69636 13.7963C5.62541 13.625 5.60684 13.4365 5.64301 13.2546C5.67919 13.0727 5.76848 12.9057 5.89959 12.7746C6.0307 12.6435 6.19775 12.5542 6.3796 12.518C6.56146 12.4818 6.74996 12.5004 6.92127 12.5714C7.09257 12.6423 7.23899 12.7625 7.342 12.9167C7.44502 13.0708 7.5 13.2521 7.5 13.4375C7.5 13.6861 7.40123 13.9246 7.22541 14.1004C7.0496 14.2762 6.81114 14.375 6.5625 14.375ZM10 14.375C9.81458 14.375 9.63332 14.32 9.47915 14.217C9.32498 14.114 9.20482 13.9676 9.13386 13.7963C9.06291 13.625 9.04434 13.4365 9.08051 13.2546C9.11669 13.0727 9.20598 12.9057 9.33709 12.7746C9.4682 12.6435 9.63525 12.5542 9.8171 12.518C9.99896 12.4818 10.1875 12.5004 10.3588 12.5714C10.5301 12.6423 10.6765 12.7625 10.7795 12.9167C10.8825 13.0708 10.9375 13.2521 10.9375 13.4375C10.9375 13.6861 10.8387 13.9246 10.6629 14.1004C10.4871 14.2762 10.2486 14.375 10 14.375ZM10 11.25C9.81458 11.25 9.63332 11.195 9.47915 11.092C9.32498 10.989 9.20482 10.8426 9.13386 10.6713C9.06291 10.5 9.04434 10.3115 9.08051 10.1296C9.11669 9.94775 9.20598 9.7807 9.33709 9.64959C9.4682 9.51848 9.63525 9.42919 9.8171 9.39301C9.99896 9.35684 10.1875 9.37541 10.3588 9.44636C10.5301 9.51732 10.6765 9.63748 10.7795 9.79165C10.8825 9.94582 10.9375 10.1271 10.9375 10.3125C10.9375 10.5611 10.8387 10.7996 10.6629 10.9754C10.4871 11.1512 10.2486 11.25 10 11.25ZM13.4375 14.375C13.2521 14.375 13.0708 14.32 12.9167 14.217C12.7625 14.114 12.6423 13.9676 12.5714 13.7963C12.5004 13.625 12.4818 13.4365 12.518 13.2546C12.5542 13.0727 12.6435 12.9057 12.7746 12.7746C12.9057 12.6435 13.0727 12.5542 13.2546 12.518C13.4365 12.4818 13.625 12.5004 13.7963 12.5714C13.9676 12.6423 14.114 12.7625 14.217 12.9167C14.32 13.0708 14.375 13.2521 14.375 13.4375C14.375 13.6861 14.2762 13.9246 14.1004 14.1004C13.9246 14.2762 13.6861 14.375 13.4375 14.375ZM13.4375 11.25C13.2521 11.25 13.0708 11.195 12.9167 11.092C12.7625 10.989 12.6423 10.8426 12.5714 10.6713C12.5004 10.5 12.4818 10.3115 12.518 10.1296C12.5542 9.94775 12.6435 9.7807 12.7746 9.64959C12.9057 9.51848 13.0727 9.42919 13.2546 9.39301C13.4365 9.35684 13.625 9.37541 13.7963 9.44636C13.9676 9.51732 14.114 9.63748 14.217 9.79165C14.32 9.94582 14.375 10.1271 14.375 10.3125C14.375 10.5611 14.2762 10.7996 14.1004 10.9754C13.9246 11.1512 13.6861 11.25 13.4375 11.25ZM16.25 6.25H3.75V3.75H5.625V4.375C5.625 4.54076 5.69085 4.69973 5.80806 4.81694C5.92527 4.93415 6.08424 5 6.25 5C6.41576 5 6.57473 4.93415 6.69194 4.81694C6.80915 4.69973 6.875 4.54076 6.875 4.375V3.75H13.125V4.375C13.125 4.54076 13.1908 4.69973 13.3081 4.81694C13.4253 4.93415 13.5842 5 13.75 5C13.9158 5 14.0747 4.93415 14.1919 4.81694C14.3092 4.69973 14.375 4.54076 14.375 4.375V3.75H16.25V6.25Z"
              fill="#CE5501"></path>
          </svg>
          <strong>14 April</strong> 2026
        </dt>
        <dd>{timelabel}</dd>
        <dt>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.25 2.5H14.375V1.875C14.375 1.70924 14.3092 1.55027 14.1919 1.43306C14.0747 1.31585 13.9158 1.25 13.75 1.25C13.5842 1.25 13.4253 1.31585 13.3081 1.43306C13.1908 1.55027 13.125 1.70924 13.125 1.875V2.5H6.875V1.875C6.875 1.70924 6.80915 1.55027 6.69194 1.43306C6.57473 1.31585 6.41576 1.25 6.25 1.25C6.08424 1.25 5.92527 1.31585 5.80806 1.43306C5.69085 1.55027 5.625 1.70924 5.625 1.875V2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM6.5625 14.375C6.37708 14.375 6.19582 14.32 6.04165 14.217C5.88748 14.114 5.76732 13.9676 5.69636 13.7963C5.62541 13.625 5.60684 13.4365 5.64301 13.2546C5.67919 13.0727 5.76848 12.9057 5.89959 12.7746C6.0307 12.6435 6.19775 12.5542 6.3796 12.518C6.56146 12.4818 6.74996 12.5004 6.92127 12.5714C7.09257 12.6423 7.23899 12.7625 7.342 12.9167C7.44502 13.0708 7.5 13.2521 7.5 13.4375C7.5 13.6861 7.40123 13.9246 7.22541 14.1004C7.0496 14.2762 6.81114 14.375 6.5625 14.375ZM10 14.375C9.81458 14.375 9.63332 14.32 9.47915 14.217C9.32498 14.114 9.20482 13.9676 9.13386 13.7963C9.06291 13.625 9.04434 13.4365 9.08051 13.2546C9.11669 13.0727 9.20598 12.9057 9.33709 12.7746C9.4682 12.6435 9.63525 12.5542 9.8171 12.518C9.99896 12.4818 10.1875 12.5004 10.3588 12.5714C10.5301 12.6423 10.6765 12.7625 10.7795 12.9167C10.8825 13.0708 10.9375 13.2521 10.9375 13.4375C10.9375 13.6861 10.8387 13.9246 10.6629 14.1004C10.4871 14.2762 10.2486 14.375 10 14.375ZM10 11.25C9.81458 11.25 9.63332 11.195 9.47915 11.092C9.32498 10.989 9.20482 10.8426 9.13386 10.6713C9.06291 10.5 9.04434 10.3115 9.08051 10.1296C9.11669 9.94775 9.20598 9.7807 9.33709 9.64959C9.4682 9.51848 9.63525 9.42919 9.8171 9.39301C9.99896 9.35684 10.1875 9.37541 10.3588 9.44636C10.5301 9.51732 10.6765 9.63748 10.7795 9.79165C10.8825 9.94582 10.9375 10.1271 10.9375 10.3125C10.9375 10.5611 10.8387 10.7996 10.6629 10.9754C10.4871 11.1512 10.2486 11.25 10 11.25ZM13.4375 14.375C13.2521 14.375 13.0708 14.32 12.9167 14.217C12.7625 14.114 12.6423 13.9676 12.5714 13.7963C12.5004 13.625 12.4818 13.4365 12.518 13.2546C12.5542 13.0727 12.6435 12.9057 12.7746 12.7746C12.9057 12.6435 13.0727 12.5542 13.2546 12.518C13.4365 12.4818 13.625 12.5004 13.7963 12.5714C13.9676 12.6423 14.114 12.7625 14.217 12.9167C14.32 13.0708 14.375 13.2521 14.375 13.4375C14.375 13.6861 14.2762 13.9246 14.1004 14.1004C13.9246 14.2762 13.6861 14.375 13.4375 14.375ZM13.4375 11.25C13.2521 11.25 13.0708 11.195 12.9167 11.092C12.7625 10.989 12.6423 10.8426 12.5714 10.6713C12.5004 10.5 12.4818 10.3115 12.518 10.1296C12.5542 9.94775 12.6435 9.7807 12.7746 9.64959C12.9057 9.51848 13.0727 9.42919 13.2546 9.39301C13.4365 9.35684 13.625 9.37541 13.7963 9.44636C13.9676 9.51732 14.114 9.63748 14.217 9.79165C14.32 9.94582 14.375 10.1271 14.375 10.3125C14.375 10.5611 14.2762 10.7996 14.1004 10.9754C13.9246 11.1512 13.6861 11.25 13.4375 11.25ZM16.25 6.25H3.75V3.75H5.625V4.375C5.625 4.54076 5.69085 4.69973 5.80806 4.81694C5.92527 4.93415 6.08424 5 6.25 5C6.41576 5 6.57473 4.93415 6.69194 4.81694C6.80915 4.69973 6.875 4.54076 6.875 4.375V3.75H13.125V4.375C13.125 4.54076 13.1908 4.69973 13.3081 4.81694C13.4253 4.93415 13.5842 5 13.75 5C13.9158 5 14.0747 4.93415 14.1919 4.81694C14.3092 4.69973 14.375 4.54076 14.375 4.375V3.75H16.25V6.25Z"
              fill="#CE5501"></path>
          </svg>
          <strong>05 Maj</strong> 2026
        </dt>
        <dd>{timelabel}</dd>
        <dt>
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.25 2.5H14.375V1.875C14.375 1.70924 14.3092 1.55027 14.1919 1.43306C14.0747 1.31585 13.9158 1.25 13.75 1.25C13.5842 1.25 13.4253 1.31585 13.3081 1.43306C13.1908 1.55027 13.125 1.70924 13.125 1.875V2.5H6.875V1.875C6.875 1.70924 6.80915 1.55027 6.69194 1.43306C6.57473 1.31585 6.41576 1.25 6.25 1.25C6.08424 1.25 5.92527 1.31585 5.80806 1.43306C5.69085 1.55027 5.625 1.70924 5.625 1.875V2.5H3.75C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75V16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5H16.25C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25V3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5ZM6.5625 14.375C6.37708 14.375 6.19582 14.32 6.04165 14.217C5.88748 14.114 5.76732 13.9676 5.69636 13.7963C5.62541 13.625 5.60684 13.4365 5.64301 13.2546C5.67919 13.0727 5.76848 12.9057 5.89959 12.7746C6.0307 12.6435 6.19775 12.5542 6.3796 12.518C6.56146 12.4818 6.74996 12.5004 6.92127 12.5714C7.09257 12.6423 7.23899 12.7625 7.342 12.9167C7.44502 13.0708 7.5 13.2521 7.5 13.4375C7.5 13.6861 7.40123 13.9246 7.22541 14.1004C7.0496 14.2762 6.81114 14.375 6.5625 14.375ZM10 14.375C9.81458 14.375 9.63332 14.32 9.47915 14.217C9.32498 14.114 9.20482 13.9676 9.13386 13.7963C9.06291 13.625 9.04434 13.4365 9.08051 13.2546C9.11669 13.0727 9.20598 12.9057 9.33709 12.7746C9.4682 12.6435 9.63525 12.5542 9.8171 12.518C9.99896 12.4818 10.1875 12.5004 10.3588 12.5714C10.5301 12.6423 10.6765 12.7625 10.7795 12.9167C10.8825 13.0708 10.9375 13.2521 10.9375 13.4375C10.9375 13.6861 10.8387 13.9246 10.6629 14.1004C10.4871 14.2762 10.2486 14.375 10 14.375ZM10 11.25C9.81458 11.25 9.63332 11.195 9.47915 11.092C9.32498 10.989 9.20482 10.8426 9.13386 10.6713C9.06291 10.5 9.04434 10.3115 9.08051 10.1296C9.11669 9.94775 9.20598 9.7807 9.33709 9.64959C9.4682 9.51848 9.63525 9.42919 9.8171 9.39301C9.99896 9.35684 10.1875 9.37541 10.3588 9.44636C10.5301 9.51732 10.6765 9.63748 10.7795 9.79165C10.8825 9.94582 10.9375 10.1271 10.9375 10.3125C10.9375 10.5611 10.8387 10.7996 10.6629 10.9754C10.4871 11.1512 10.2486 11.25 10 11.25ZM13.4375 14.375C13.2521 14.375 13.0708 14.32 12.9167 14.217C12.7625 14.114 12.6423 13.9676 12.5714 13.7963C12.5004 13.625 12.4818 13.4365 12.518 13.2546C12.5542 13.0727 12.6435 12.9057 12.7746 12.7746C12.9057 12.6435 13.0727 12.5542 13.2546 12.518C13.4365 12.4818 13.625 12.5004 13.7963 12.5714C13.9676 12.6423 14.114 12.7625 14.217 12.9167C14.32 13.0708 14.375 13.2521 14.375 13.4375C14.375 13.6861 14.2762 13.9246 14.1004 14.1004C13.9246 14.2762 13.6861 14.375 13.4375 14.375ZM13.4375 11.25C13.2521 11.25 13.0708 11.195 12.9167 11.092C12.7625 10.989 12.6423 10.8426 12.5714 10.6713C12.5004 10.5 12.4818 10.3115 12.518 10.1296C12.5542 9.94775 12.6435 9.7807 12.7746 9.64959C12.9057 9.51848 13.0727 9.42919 13.2546 9.39301C13.4365 9.35684 13.625 9.37541 13.7963 9.44636C13.9676 9.51732 14.114 9.63748 14.217 9.79165C14.32 9.94582 14.375 10.1271 14.375 10.3125C14.375 10.5611 14.2762 10.7996 14.1004 10.9754C13.9246 11.1512 13.6861 11.25 13.4375 11.25ZM16.25 6.25H3.75V3.75H5.625V4.375C5.625 4.54076 5.69085 4.69973 5.80806 4.81694C5.92527 4.93415 6.08424 5 6.25 5C6.41576 5 6.57473 4.93415 6.69194 4.81694C6.80915 4.69973 6.875 4.54076 6.875 4.375V3.75H13.125V4.375C13.125 4.54076 13.1908 4.69973 13.3081 4.81694C13.4253 4.93415 13.5842 5 13.75 5C13.9158 5 14.0747 4.93415 14.1919 4.81694C14.3092 4.69973 14.375 4.54076 14.375 4.375V3.75H16.25V6.25Z"
              fill="#CE5501"></path>
          </svg>
          <strong>09 Juni</strong> 2026
        </dt>
        <dd>{timelabel}</dd>
      </dl>
    </div>
    <div class="button-container">
      <Button title="Tilmeld infomøde" variant="primary" />
    </div>
  </div>
  <div class="info-media">
    <div class="position-wrapper">
      <Image src={billede3} class="img3" alt="placeholder" width={500} />
      <Image src={billede2} class="img2" alt="placeholder" width={500} />
      <Image src={billede1} class="img1" alt="placeholder" width={500} />
    </div>
  </div>
  <div class="badge">
    <svg
      width="221"
      height="221"
      viewBox="0 0 221 221"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="110.5"
        cy="110.5"
        r="110.5"
        transform="matrix(-1 0 0 1 221 0)"
        fill="url(#paint0_linear_368_2421)"></circle>
      <path
        d="M110.435 145.7C102.223 145.7 94.1954 143.535 87.3673 139.48C80.5392 135.424 75.2173 129.66 72.0747 122.916C68.9321 116.172 68.1098 108.751 69.7119 101.592C71.314 94.4324 75.2685 87.8561 81.0753 82.6945C86.8821 77.5329 94.2805 74.0178 102.335 72.5937C110.389 71.1696 118.738 71.9005 126.325 74.694C133.911 77.4874 140.396 82.2179 144.959 88.2874C149.521 94.3568 151.956 101.492 151.956 108.792C151.943 118.577 147.565 127.958 139.781 134.877C131.997 141.796 121.443 145.688 110.435 145.7ZM143.64 122.542H127.202C125.243 129.255 121.669 135.51 116.728 140.876C122.541 139.965 128.02 137.824 132.705 134.632C137.389 131.441 141.14 127.294 143.64 122.542ZM147.071 108.792C147.074 105.605 146.549 102.435 145.512 99.3843H128.269C129.457 105.612 129.457 111.973 128.269 118.2H145.512C146.549 115.149 147.074 111.979 147.071 108.792ZM110.435 77.0118C108.084 79.1441 106.009 81.5049 104.252 84.0496C101.88 87.4792 100.037 91.1765 98.7726 95.0422H122.098C120.833 91.1765 118.99 87.4792 116.618 84.0496C114.861 81.5049 112.787 79.1441 110.435 77.0118ZM97.5921 99.3843C96.2623 105.6 96.2623 111.984 97.5921 118.2H123.278C124.608 111.984 124.608 105.6 123.278 99.3843H97.5921ZM73.7989 108.792C73.7962 111.979 74.3215 115.149 75.358 118.2H92.6014C91.4128 111.973 91.4128 105.612 92.6014 99.3843H75.358C74.3215 102.435 73.7962 105.605 73.7989 108.792ZM110.435 140.572C112.787 138.44 114.861 136.079 116.618 133.535C118.99 130.105 120.833 126.408 122.098 122.542H98.7726C100.037 126.408 101.88 130.105 104.252 133.535C106.009 136.079 108.084 138.44 110.435 140.572ZM104.142 140.876C99.2007 135.51 95.6274 129.255 93.6679 122.542H77.2305C79.7306 127.294 83.4814 131.441 88.1656 134.632C92.8498 137.824 98.3297 139.965 104.142 140.876ZM77.2305 95.0422H93.6679C95.6274 88.3297 99.2007 82.0746 104.142 76.7079C98.3297 77.6188 92.8498 79.7605 88.1656 82.9518C83.4814 86.1431 79.7306 90.2901 77.2305 95.0422ZM116.716 76.7079C121.662 82.0736 125.239 88.3288 127.202 95.0422H143.64C141.14 90.2901 137.389 86.1431 132.705 82.9518C128.02 79.7605 122.541 77.6188 116.728 76.7079H116.716Z"
        fill="white"></path>
      <path
        d="M82.1581 190.253C82.9287 187.94 83.7002 185.441 84.4727 182.757C85.2452 180.073 85.9191 177.549 86.4944 175.186L91.4102 176.447L89.7856 182.092L97.4834 184.066L99.108 178.421L104.024 179.682C103.14 182.337 102.361 184.834 101.688 187.172C101.015 189.51 100.348 192.035 99.6875 194.748L94.7717 193.487L96.3963 187.843L88.6985 185.869L87.0738 191.513L82.1581 190.253Z"
        fill="white"></path>
      <path
        d="M60.5712 177.644L62.7054 177.083C62.5993 175.574 63.0778 173.972 64.141 172.277C65.5254 170.069 67.2686 168.737 69.3705 168.281C71.4725 167.825 73.9814 168.411 76.8971 170.041C78.3047 170.827 79.4257 171.651 80.2602 172.513L81.2912 172.249L84.3683 176.192L82.3669 176.704C82.5003 178.277 82.024 179.93 80.9379 181.662C79.5765 183.833 77.8409 185.153 75.7313 185.621C73.6091 186.082 71.1027 185.505 68.2121 183.89C66.7542 183.075 65.5969 182.215 64.74 181.308L63.6484 181.587L60.5712 177.644ZM76.47 179.165C76.6766 178.836 76.8555 178.483 77.0068 178.107L70.1305 179.897C70.2108 179.959 70.3515 180.046 70.5526 180.158C71.935 180.93 73.0986 181.226 74.0434 181.046C74.9881 180.866 75.797 180.239 76.47 179.165ZM68.6088 174.773C68.4023 175.102 68.2477 175.403 68.145 175.675L74.8394 173.931L74.5566 173.773C73.1616 172.993 71.9955 172.688 71.0585 172.856C70.1138 173.036 69.2972 173.675 68.6088 174.773Z"
        fill="white"></path>
      <path
        d="M43.3389 163.427L48.9528 158.27C50.9354 156.449 52.9527 155.542 55.0047 155.55C57.0358 155.558 59.1313 156.609 61.2911 158.704C62.5312 159.907 63.4928 161.19 64.1758 162.554C64.8485 163.907 65.2961 165.252 65.5188 166.589C64.6651 167.003 63.8741 167.427 63.1458 167.862C62.4174 168.297 61.6618 168.815 60.8788 169.417C60.6944 167.576 60.3223 166.064 59.7625 164.88C59.2027 163.697 58.5146 162.709 57.6982 161.917C56.8508 161.095 56.0501 160.689 55.2961 160.699C54.5422 160.708 53.6829 161.146 52.7184 162.013L51.5097 163.123C49.7922 164.701 48.3862 166.08 47.2917 167.261L43.3389 163.427Z"
        fill="white"></path>
      <path
        d="M52.4191 152.955C51.5198 152.88 50.7094 152.856 49.9878 152.882C49.2588 152.896 48.4483 152.97 47.5563 153.104C47.5521 151.949 47.3485 150.713 46.9456 149.396C46.5427 148.079 46.0418 146.92 45.4428 145.92C44.8291 144.894 44.3076 144.219 43.8784 143.894C43.4364 143.576 43.1075 143.474 42.8915 143.589C42.1166 144.003 42.4169 145.358 43.7922 147.656C45.3007 150.176 46.1283 152.146 46.2751 153.567C46.4092 154.995 45.8728 156.031 44.666 156.674C42.9512 157.589 41.2732 157.571 39.632 156.621C37.9909 155.671 36.5085 154.091 35.1849 151.88C34.4159 150.595 33.7999 149.188 33.3368 147.659C32.8537 146.124 32.579 144.657 32.5126 143.258C33.5654 143.169 34.8135 143.001 36.2569 142.752C36.5553 142.691 36.7828 142.651 36.9395 142.633C36.7958 143.541 36.9332 144.722 37.3519 146.177C37.7578 147.639 38.2529 148.858 38.837 149.834C39.5395 151.008 40.0953 151.754 40.5045 152.074C40.9009 152.4 41.2516 152.482 41.5564 152.319C41.8613 152.157 41.9426 151.747 41.8004 151.089C41.6381 150.426 41.239 149.563 40.6031 148.501C39.0355 145.882 38.208 143.814 38.1205 142.296C38.0204 140.785 38.6055 139.691 39.8757 139.013C41.6541 138.065 43.3142 138.01 44.856 138.85C46.3851 139.697 47.915 141.399 49.4456 143.956C50.2664 145.327 50.9495 146.804 51.495 148.387C52.0278 149.977 52.3358 151.5 52.4191 152.955Z"
        fill="white"></path>
      <path
        d="M41.4358 124.896C40.4249 125.838 38.902 127.364 36.8671 129.473L39.9665 131.318L42.9881 130.583L44.4039 135.771C41.6597 136.32 39.1056 136.882 36.7415 137.457C34.3773 138.032 31.8535 138.705 29.17 139.476L27.7541 134.288L33.9023 132.793C30.6588 130.857 28.1128 129.536 26.2644 128.83L24.4221 122.08L32.76 127.05C33.8656 125.745 35.0578 124.292 36.3368 122.693C37.6119 121.079 38.7164 119.633 39.6504 118.355L41.4358 124.896Z"
        fill="white"></path>
      <path
        d="M40.0488 108.026C39.9892 111.322 39.2329 113.736 37.7797 115.268C36.3122 116.799 34.2829 117.544 31.6918 117.502C29.1296 117.461 27.1426 116.659 25.7309 115.095C24.3195 113.518 23.6437 111.073 23.7035 107.763C23.7635 104.438 24.5272 102.016 25.9945 100.499C27.4621 98.968 29.477 98.223 32.0392 98.2642C34.6447 98.3061 36.6461 99.1086 38.0433 100.672C39.4406 102.235 40.1091 104.686 40.0488 108.026ZM35.644 107.955C35.6728 106.357 35.3913 105.201 34.7995 104.486C34.1932 103.77 33.2424 103.402 31.9468 103.381C30.6801 103.361 29.7309 103.698 29.0992 104.394C28.4674 105.089 28.1372 106.236 28.1083 107.834C28.0797 109.417 28.3685 110.566 28.9748 111.281C29.581 111.997 30.5175 112.365 31.7842 112.385C33.0654 112.406 34.0218 112.068 34.6535 111.373C35.2852 110.678 35.6154 109.538 35.644 107.955Z"
        fill="white"></path>
      <path
        d="M37.942 91.7626C39.098 87.7516 40.0082 84.4199 40.6724 81.7674C41.3294 82.134 41.9789 82.4241 42.6209 82.638C43.263 82.8518 44.0504 83.0815 44.9832 83.3273L40.666 97.9268C37.9979 97.1048 35.4875 96.3839 33.1347 95.764C30.782 95.1441 28.2389 94.5336 25.5055 93.9324L26.9996 88.8796L37.942 91.7626Z"
        fill="white"></path>
      <path
        d="M44.9796 75.8533C47.7591 71.1429 49.7228 67.7004 50.8706 65.5259C51.3401 65.8897 51.847 66.2328 52.3914 66.555C52.9306 66.8582 53.6195 67.2329 54.4584 67.6793L45.8554 82.0852C43.4488 80.6744 41.1715 79.3976 39.0236 78.2547C36.8757 77.1118 34.5394 75.9338 32.0148 74.7208L40.6178 60.3148L44.0684 62.1508L38.0784 72.1813L39.9085 73.1551C40.2756 72.5685 40.806 71.6943 41.4998 70.5325C42.6735 68.5672 43.8496 66.5136 45.0282 64.3718L48.3072 66.1165C46.9761 68.1772 45.7238 70.1902 44.5501 72.1555C43.8563 73.3174 43.3385 74.1983 42.9969 74.7984L44.9796 75.8533Z"
        fill="white"></path>
      <path
        d="M56.8738 43.9079C58.599 45.6183 60.4878 47.4099 62.5403 49.2827C64.6035 51.1653 66.5698 52.8913 68.4391 54.4608L62.9078 59.8621L50.4589 55.5657L59.4469 63.2416L55.4761 67.119C53.4954 65.156 51.6064 63.3545 49.8091 61.7145C48.0224 60.0843 46.0563 58.3681 43.9108 56.566L49.5966 51.014L62.3003 55.5136L53.0884 47.6043L56.8738 43.9079Z"
        fill="white"></path>
      <path
        d="M66.9933 37.4998C69.3456 36.1612 71.382 35.3829 73.1023 35.1649C74.8149 34.9348 76.254 35.158 77.4197 35.8346C78.5902 36.492 79.6288 37.5305 80.5354 38.9501C81.3956 40.2968 81.8344 41.6518 81.8519 43.0148C81.8695 44.3779 81.4309 45.6945 80.5361 46.9647C79.6335 48.2227 78.2688 49.3715 76.442 50.4111C75.3284 51.0448 74.196 51.6892 73.0448 52.3442C71.8937 52.9993 70.7261 53.6554 69.5422 54.3126C68.1157 51.8654 66.7438 49.6105 65.4265 47.5478C64.0936 45.4609 62.6526 43.3115 61.1035 41.0995C62.515 40.1309 64.4782 38.931 66.9933 37.4998ZM74.6544 46.4903C75.8181 45.8281 76.4195 45.1136 76.4587 44.3469C76.4979 43.5802 76.2114 42.7175 75.5992 41.759C75.0103 40.8369 74.3272 40.2082 73.5501 39.8729C72.7855 39.5305 71.8401 39.6797 70.714 40.3205C69.5003 41.0112 68.6164 41.5638 68.0623 41.9784L71.9329 48.0389L74.6544 46.4903Z"
        fill="white"></path>
      <path
        d="M97.0605 42.506C96.048 41.5154 94.4146 40.0235 92.1603 38.0305L90.4603 41.0928L91.3749 44.0649L86.1891 45.4867C85.4788 42.7868 84.7658 40.2742 84.0503 37.9488C83.3347 35.6233 82.5107 33.1411 81.5782 30.5022L86.7639 29.0804L88.6248 35.1278C90.4089 31.9231 91.6074 29.4086 92.2204 27.5843L98.9682 25.7342L94.3894 33.9726C95.7763 35.0546 97.3171 36.2212 99.012 37.4724C100.721 38.7198 102.25 39.8 103.6 40.7131L97.0605 42.506Z"
        fill="white"></path>
      <path
        d="M138.859 30.8797C138.179 33.2206 137.506 35.7472 136.839 38.4593C136.172 41.1714 135.597 43.7197 135.115 46.104L130.159 45.0098L131.562 39.3059L123.802 37.5925L122.399 43.2963L117.444 42.2021C118.223 39.5148 118.904 36.9898 119.485 34.6272C120.066 32.2646 120.633 29.7148 121.188 26.9778L126.143 28.072L124.741 33.7759L132.501 35.4894L133.903 29.7855L138.859 30.8797Z"
        fill="white"></path>
      <path
        d="M160.784 42.7525L158.677 43.3897C158.84 44.8975 158.423 46.5192 157.427 48.2549C156.13 50.5149 154.442 51.9102 152.363 52.4405C150.285 52.9709 147.761 52.4709 144.792 50.9405C143.359 50.2017 142.21 49.4153 141.346 48.5813L140.328 48.8817L137.111 45.039L139.087 44.4558C138.894 42.8842 139.307 41.2118 140.324 39.4387C141.6 37.2161 143.281 35.8333 145.366 35.2905C147.465 34.7542 149.986 35.2447 152.929 36.7619C154.413 37.5271 155.6 38.3491 156.488 39.2278L157.566 38.9097L160.784 42.7525ZM144.874 41.7837C144.68 42.1209 144.515 42.4808 144.378 42.8634L151.167 40.8291C151.085 40.7705 150.941 40.6884 150.736 40.5828C149.329 39.8572 148.157 39.6012 147.222 39.8149C146.287 40.0286 145.504 40.6849 144.874 41.7837ZM152.878 45.9098C153.071 45.5727 153.214 45.266 153.306 44.9899L146.697 46.9712L146.985 47.1196C148.405 47.8518 149.58 48.1173 150.508 47.9161C151.443 47.7024 152.233 47.0336 152.878 45.9098Z"
        fill="white"></path>
      <path
        d="M178.438 56.3584L173.026 61.727C171.115 63.623 169.136 64.6042 167.089 64.6705C165.063 64.7363 162.935 63.7593 160.705 61.7394C159.424 60.5797 158.419 59.3295 157.688 57.9888C156.968 56.6578 156.473 55.3267 156.202 53.9954C157.039 53.5504 157.812 53.097 158.523 52.635C159.234 52.1731 159.968 51.6264 160.727 50.9949C160.978 52.8319 161.404 54.333 162.005 55.4983C162.607 56.6635 163.329 57.6279 164.172 58.3914C165.047 59.1839 165.86 59.5617 166.612 59.5248C167.363 59.4879 168.204 59.018 169.135 58.1152L170.3 56.9594C171.956 55.3168 173.308 53.8843 174.357 52.6618L178.438 56.3584Z"
        fill="white"></path>
      <path
        d="M169.731 67.1618C170.632 67.2033 171.442 67.1976 172.162 67.1448C172.889 67.1041 173.696 67.0005 174.582 66.8342C174.628 67.9891 174.875 69.2177 175.325 70.5201C175.774 71.8226 176.316 72.9631 176.95 73.9419C177.599 74.9448 178.144 75.601 178.585 75.9105C179.037 76.2127 179.369 76.3022 179.581 76.1791C180.34 75.7373 179.992 74.3927 178.536 72.1452C176.939 69.6801 176.042 67.7397 175.845 66.3239C175.66 64.9008 176.158 63.8452 177.34 63.1572C179.02 62.1795 180.696 62.1356 182.369 63.0255C184.042 63.9153 185.579 65.4417 186.98 67.6046C187.794 68.8613 188.46 70.246 188.977 71.7586C189.514 73.2761 189.841 74.7331 189.957 76.1295C188.909 76.2571 187.669 76.4716 186.236 76.7729C185.941 76.8452 185.715 76.8934 185.559 76.9175C185.67 76.0043 185.49 74.8277 185.02 73.3876C184.563 71.9402 184.025 70.7392 183.406 69.7846C182.663 68.6367 182.081 67.9104 181.661 67.6058C181.253 67.294 180.9 67.2249 180.602 67.3987C180.303 67.5726 180.236 67.9857 180.402 68.638C180.588 69.2953 181.017 70.1435 181.69 71.1827C183.35 73.7443 184.25 75.7826 184.392 77.2975C184.546 78.8051 184.001 79.9211 182.756 80.6453C181.015 81.6592 179.359 81.7744 177.789 80.9909C176.232 80.2001 174.643 78.5541 173.023 76.0529C172.154 74.7116 171.419 73.2593 170.818 71.6958C170.229 70.1252 169.867 68.6138 169.731 67.1618Z"
        fill="white"></path>
      <path
        d="M181.71 94.793C182.686 93.8158 184.152 92.2372 186.109 90.0572L182.943 88.3244L179.949 89.1667L178.343 84.035C181.066 83.3885 183.599 82.7357 185.941 82.0767C188.283 81.4177 190.781 80.6551 193.435 79.7887L195.041 84.9203L188.951 86.6341C192.264 88.4525 194.858 89.6811 196.731 90.3199L198.821 96.9973L190.304 92.3303C189.247 93.6742 188.108 95.168 186.889 96.8117C185.673 98.4692 184.622 99.9534 183.736 101.264L181.71 94.793Z"
        fill="white"></path>
      <path
        d="M183.75 111.583C183.683 108.287 184.347 105.848 185.74 104.268C187.148 102.687 189.147 101.872 191.738 101.825C194.301 101.778 196.317 102.511 197.788 104.025C199.258 105.553 200.027 107.972 200.095 111.283C200.162 114.608 199.491 117.053 198.083 118.62C196.675 120.201 194.69 121.015 192.128 121.062C189.523 121.11 187.492 120.377 186.036 118.863C184.579 117.349 183.818 114.922 183.75 111.583ZM188.155 111.502C188.187 113.1 188.512 114.246 189.131 114.94C189.765 115.634 190.729 115.969 192.024 115.945C193.291 115.922 194.227 115.552 194.831 114.835C195.436 114.118 195.722 112.961 195.69 111.364C195.658 109.78 195.325 108.642 194.692 107.948C194.059 107.254 193.109 106.918 191.842 106.942C190.561 106.965 189.618 107.335 189.013 108.052C188.409 108.769 188.122 109.919 188.155 111.502Z"
        fill="white"></path>
      <path
        d="M186.511 127.753C185.513 131.806 184.733 135.172 184.173 137.849C183.503 137.504 182.844 137.236 182.195 137.044C181.546 136.852 180.751 136.648 179.81 136.434L183.553 121.677C186.248 122.409 188.782 123.045 191.154 123.585C193.526 124.125 196.088 124.65 198.84 125.158L197.544 130.266L186.511 127.753Z"
        fill="white"></path>
      <path
        d="M180.137 143.898C177.544 148.714 175.716 152.231 174.654 154.449C174.172 154.101 173.654 153.775 173.099 153.471C172.55 153.187 171.849 152.835 170.995 152.417L179.028 137.685C181.481 139.015 183.8 140.215 185.985 141.285C188.17 142.355 190.544 143.454 193.108 144.581L185.075 159.313L181.565 157.594L187.158 147.337L185.296 146.425C184.952 147.025 184.456 147.919 183.809 149.108C182.713 151.117 181.618 153.216 180.524 155.402L177.188 153.769C178.437 151.658 179.61 149.598 180.706 147.588C181.353 146.4 181.836 145.499 182.154 144.886L180.137 143.898Z"
        fill="white"></path>
      <path
        d="M169.506 176.285C167.724 174.634 165.775 172.907 163.66 171.105C161.534 169.294 159.51 167.636 157.588 166.132L162.908 160.522L175.479 164.376L166.236 157.011L170.055 152.984C172.101 154.879 174.051 156.615 175.903 158.193C177.744 159.761 179.767 161.409 181.973 163.137L176.505 168.904L163.672 164.855L173.147 172.445L169.506 176.285Z"
        fill="white"></path>
      <path
        d="M159.706 183.005C157.405 184.431 155.399 185.284 153.69 185.565C151.988 185.858 150.543 185.688 149.355 185.054C148.163 184.439 147.089 183.438 146.132 182.051C145.225 180.736 144.739 179.397 144.673 178.034C144.606 176.671 144.997 175.338 145.845 174.034C146.701 172.743 148.023 171.543 149.809 170.436C150.899 169.762 152.006 169.076 153.132 168.378C154.258 167.68 155.4 166.981 156.559 166.28C158.071 168.676 159.521 170.882 160.91 172.897C162.316 174.935 163.832 177.032 165.458 179.188C164.083 180.209 162.166 181.481 159.706 183.005ZM151.735 174.293C150.596 174.998 150.021 175.735 150.01 176.503C149.998 177.272 150.315 178.124 150.961 179.06C151.582 179.961 152.286 180.565 153.074 180.872C153.85 181.187 154.788 181.003 155.89 180.32C157.077 179.585 157.94 179 158.478 178.565L154.396 172.644L151.735 174.293Z"
        fill="white"></path>
      <path
        d="M129.572 179.05C130.62 180.003 132.308 181.435 134.634 183.345L136.221 180.224L135.198 177.288L140.33 175.681C141.139 178.353 141.943 180.838 142.744 183.135C143.544 185.433 144.459 187.883 145.487 190.486L140.356 192.093L138.274 186.118C136.608 189.384 135.502 191.939 134.957 193.784L128.28 195.875L132.555 187.479C131.129 186.448 129.546 185.338 127.806 184.149C126.052 182.964 124.484 181.94 123.101 181.076L129.572 179.05Z"
        fill="white"></path>
      <defs>
        <linearGradient
          id="paint0_linear_368_2421"
          x1="110.5"
          y1="0"
          x2="110.5"
          y2="221"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#DB6200"></stop>
          <stop offset="1" stop-color="#C74E00"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>

<style>
  .infomoede {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: fit-content;
    padding: 120px 80px;
    gap: 130px;
  }
  .information {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 35dvw;
    margin: 0 auto;
  }
  .subtitle {
    font-weight: 700;
    color: #ce5501;
  }
  .info-header h2 {
    text-align: left;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  dl {
    font-family: Poppins, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  dl > * {
    padding: 16px 0;
  }
  dt,
  dd {
    border-bottom: 1px dashed #ce5501;
  }
  dt {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  dd {
    text-align: right;
    font-weight: 700;
    opacity: 0.9;
  }

  .position-wrapper {
    position: relative;
  }
  .position-wrapper :global(img) {
    position: absolute;
    z-index: -10;
    width: auto;
    max-width: 500px;
    top: 5vh;
    right: 5vw;
  }
  .img2 {
    transform: rotate(-6deg);
  }
  .img3 {
    transform: rotate(-13deg);
  }
  .badge {
    position: absolute;
    top: 40%;
    right: 3%;
  }
</style>
