---
import "../css/main.css";
import Button from "./Button.astro";
const { title, subtitle, text1, text2, text3, feature } = Astro.props;
---

<section class="rejsekalender">
  <div class="title">
    <h2>{title}</h2>
  </div>
  <div class="indhold">
    <div class="info">
      <h3>{subtitle}</h3>
      <p>{text1}</p>
      <div>
        <h4>{feature}</h4>
        <p>{text2}</p>
        <p>{text3}</p>
      </div>

      <Button variant="primary" title="Se rejsekalendaren" />
    </div>
    <div class="img-container">
      <img src="../src/images/placeholder-img-2.jpg" alt="placeholder" />
      <img src="../src/images/placeholder-img-3.jpg" alt="placeholder" />
    </div>
  </div>
  <div class="badge">
    <svg
      width="169"
      height="169"
      viewBox="0 0 169 169"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle
        cx="84.5"
        cy="84.5"
        r="84.5"
        transform="matrix(-1 0 0 1 169 0)"
        fill="url(#paint0_linear_368_2119)"></circle>
      <path
        d="M62.793 145.598C63.3822 143.83 63.9722 141.919 64.5629 139.866C65.1537 137.814 65.669 135.884 66.109 134.077L69.8681 135.041L68.6257 139.358L74.5123 140.867L75.7547 136.551L79.5138 137.515C78.8377 139.545 78.2424 141.454 77.7278 143.242C77.2132 145.03 76.7032 146.962 76.1977 149.036L72.4386 148.072L73.681 143.755L67.7944 142.246L66.5521 146.562L62.793 145.598Z"
        fill="white"></path>
      <path
        d="M46.2565 135.945L47.8885 135.515C47.8074 134.362 48.1733 133.136 48.9863 131.84C50.045 130.152 51.378 129.133 52.9854 128.785C54.5928 128.436 56.5113 128.884 58.741 130.13C59.8174 130.732 60.6746 131.362 61.3127 132.02L62.1012 131.819L64.4543 134.834L62.9238 135.226C63.0258 136.429 62.6616 137.693 61.831 139.017C60.7899 140.677 59.4627 141.686 57.8495 142.044C56.2266 142.397 54.31 141.956 52.0995 140.721C50.9847 140.098 50.0996 139.44 49.4444 138.746L48.6096 138.96L46.2565 135.945ZM58.4144 137.108C58.5723 136.856 58.7092 136.586 58.8249 136.298L53.5665 137.668C53.6279 137.715 53.7355 137.781 53.8893 137.867C54.9465 138.458 55.8363 138.684 56.5587 138.546C57.2811 138.408 57.8997 137.929 58.4144 137.108ZM52.4029 133.749C52.245 134.001 52.1268 134.231 52.0482 134.439L57.1675 133.105L56.9512 132.984C55.8844 132.388 54.9927 132.154 54.2762 132.283C53.5537 132.421 52.9293 132.91 52.4029 133.749Z"
        fill="white"></path>
      <path
        d="M33.0526 125.053L37.3455 121.109C38.8616 119.716 40.4043 119.023 41.9735 119.029C43.5267 119.035 45.1291 119.839 46.7807 121.441C47.729 122.361 48.4643 123.342 48.9866 124.384C49.501 125.419 49.8434 126.448 50.0137 127.471C49.3608 127.787 48.7559 128.111 48.199 128.444C47.642 128.776 47.0642 129.173 46.4654 129.633C46.3244 128.226 46.0398 127.069 45.6118 126.164C45.1837 125.259 44.6575 124.503 44.0332 123.898C43.3852 123.269 42.7729 122.959 42.1963 122.966C41.6197 122.973 40.9627 123.308 40.2251 123.971L39.3008 124.82C37.9874 126.026 36.9122 127.081 36.0753 127.984L33.0526 125.053Z"
        fill="white"></path>
      <path
        d="M39.9807 117.019C39.2931 116.962 38.6733 116.944 38.1215 116.964C37.564 116.975 36.9442 117.031 36.2621 117.133C36.2589 116.25 36.1032 115.305 35.7951 114.298C35.487 113.291 35.104 112.405 34.6459 111.64C34.1766 110.856 33.7778 110.339 33.4496 110.091C33.1116 109.847 32.8601 109.77 32.6949 109.858C32.1024 110.174 32.332 111.21 33.3837 112.967C34.5373 114.894 35.1701 116.401 35.2824 117.488C35.3849 118.58 34.9747 119.372 34.0519 119.864C32.7405 120.563 31.4574 120.55 30.2024 119.823C28.9474 119.097 27.8138 117.888 26.8016 116.198C26.2136 115.215 25.7425 114.139 25.3884 112.97C25.019 111.796 24.8089 110.674 24.7581 109.605C25.5632 109.537 26.5176 109.408 27.6214 109.218C27.8496 109.171 28.0236 109.14 28.1434 109.126C28.0335 109.82 28.1386 110.724 28.4587 111.837C28.7692 112.955 29.1477 113.887 29.5944 114.633C30.1316 115.531 30.5567 116.101 30.8695 116.346C31.1727 116.595 31.4408 116.658 31.674 116.534C31.9071 116.409 31.9693 116.096 31.8606 115.593C31.7364 115.086 31.4312 114.426 30.945 113.614C29.7462 111.611 29.1134 110.03 29.0465 108.869C28.97 107.713 29.4174 106.877 30.3888 106.358C31.7487 105.633 33.0182 105.592 34.1972 106.234C35.3665 106.881 36.5364 108.183 37.7069 110.138C38.3345 111.187 38.8569 112.316 39.2741 113.527C39.6815 114.743 39.9171 115.907 39.9807 117.019Z"
        fill="white"></path>
      <path
        d="M31.5729 95.5336C30.7999 96.2539 29.6353 97.4205 28.0793 99.0334L30.4493 100.445L32.76 99.8828L33.8427 103.85C31.7442 104.269 29.791 104.699 27.9832 105.139C26.1753 105.578 24.2453 106.093 22.1932 106.683L21.1105 102.716L25.812 101.572C23.3317 100.092 21.3848 99.0815 19.9713 98.5418L18.5625 93.3802L24.9385 97.181C25.784 96.1826 26.6957 95.0718 27.6737 93.8486C28.6488 92.6148 29.4934 91.509 30.2076 90.5312L31.5729 95.5336Z"
        fill="white"></path>
      <path
        d="M30.5065 82.6051C30.461 85.1258 29.8826 86.9718 28.7714 88.1431C27.6491 89.3142 26.0973 89.8838 24.1159 89.8519C22.1565 89.8204 20.6371 89.2068 19.5575 88.0113C18.4782 86.8048 17.9614 84.9357 18.0072 82.404C18.0531 79.8613 18.6371 78.0099 19.7591 76.8498C20.8814 75.6788 22.4222 75.109 24.3816 75.1405C26.374 75.1726 27.9044 75.7863 28.9729 76.9816C30.0414 78.1769 30.5526 80.0514 30.5065 82.6051ZM27.1381 82.5509C27.1602 81.3291 26.9449 80.4448 26.4923 79.898C26.0287 79.351 25.3016 79.0696 24.3109 79.0536C23.3422 79.038 22.6163 79.2961 22.1333 79.8279C21.6502 80.3596 21.3976 81.2364 21.3755 82.4582C21.3537 83.669 21.5745 84.5479 22.0381 85.0949C22.5017 85.6419 23.2179 85.9232 24.1866 85.9388C25.1662 85.9545 25.8976 85.6965 26.3807 85.1648C26.8638 84.633 27.1162 83.7618 27.1381 82.5509Z"
        fill="white"></path>
      <path
        d="M28.8991 70.138C29.7831 67.0708 30.4791 64.523 30.9871 62.4947C31.4894 62.775 31.9861 62.9969 32.4771 63.1604C32.9681 63.3239 33.5702 63.4996 34.2835 63.6875L30.9822 74.8519C28.9419 74.2233 27.0221 73.6719 25.223 73.1979C23.4238 72.7239 21.4791 72.257 19.3888 71.7973L20.5314 67.9334L28.8991 70.138Z"
        fill="white"></path>
      <path
        d="M34.29 57.9477C36.4155 54.3456 37.9171 51.7131 38.7949 50.0503C39.1539 50.3285 39.5415 50.5908 39.9579 50.8373C40.3701 51.0691 40.897 51.3557 41.5385 51.697L34.9597 62.7133C33.1193 61.6344 31.3779 60.658 29.7354 59.7841C28.0929 58.9101 26.3063 58.0093 24.3757 57.0817L30.9545 46.0653L33.5932 47.4693L29.0126 55.1397L30.4121 55.8843C30.6928 55.4358 31.0984 54.7673 31.629 53.8788C32.5265 52.3759 33.4259 50.8056 34.3271 49.1677L36.8346 50.5019C35.8167 52.0777 34.859 53.6171 33.9616 55.12C33.431 56.0085 33.0351 56.6821 32.7738 57.141L34.29 57.9477Z"
        fill="white"></path>
      <path
        d="M43.4048 33.494C44.7241 34.8019 46.1685 36.1719 47.7381 37.6041C49.3158 39.0437 50.8194 40.3636 52.2489 41.5639L48.0191 45.6942L38.4993 42.4088L45.3725 48.2786L42.336 51.2436C40.8213 49.7425 39.3768 48.3649 38.0024 47.1108C36.6361 45.8642 35.1327 44.5518 33.4919 43.1737L37.8399 38.928L47.5545 42.3689L40.5101 36.3206L43.4048 33.494Z"
        fill="white"></path>
      <path
        d="M51.1671 28.5732C52.966 27.5495 54.5232 26.9544 55.8387 26.7877C57.1483 26.6117 58.2489 26.7824 59.1403 27.2998C60.0354 27.8025 60.8296 28.5967 61.5229 29.6822C62.1806 30.7121 62.5162 31.7482 62.5296 32.7906C62.543 33.8329 62.2076 34.8398 61.5234 35.8111C60.8332 36.7731 59.7896 37.6516 58.3926 38.4465C57.541 38.9311 56.6751 39.4239 55.7948 39.9248C54.9145 40.4258 54.0216 40.9275 53.1163 41.4301C52.0255 39.5587 50.9763 37.8343 49.969 36.257C48.9497 34.6611 47.8478 33.0174 46.6631 31.3259C47.7425 30.5852 49.2438 29.6676 51.1671 28.5732ZM57.0256 35.4483C57.9155 34.9419 58.3754 34.3955 58.4054 33.8092C58.4353 33.2229 58.2162 32.5632 57.7481 31.8303C57.2978 31.1251 56.7754 30.6443 56.1812 30.3879C55.5965 30.1261 54.8735 30.2402 54.0124 30.7302C53.0842 31.2584 52.4083 31.681 51.9846 31.998L54.9445 36.6325L57.0256 35.4483Z"
        fill="white"></path>
      <path
        d="M74.1869 32.3893C73.4127 31.6317 72.1636 30.4909 70.4397 28.9668L69.1397 31.3085L69.8391 33.5813L65.8735 34.6686C65.3303 32.604 64.7851 30.6826 64.2379 28.9043C63.6907 27.126 63.0605 25.2279 62.3475 23.2098L66.313 22.1226L67.7361 26.7471C69.1004 24.2964 70.0169 22.3736 70.4857 20.9785L75.6457 19.5638L72.1443 25.8637C73.2049 26.6911 74.3831 27.5832 75.6792 28.54C76.9859 29.4939 78.1554 30.3199 79.1877 31.0182L74.1869 32.3893Z"
        fill="white"></path>
      <path
        d="M106.214 23.4969C105.695 25.287 105.18 27.219 104.67 29.293C104.16 31.367 103.72 33.3156 103.351 35.139L99.5615 34.3022L100.634 29.9404L94.7001 28.6301L93.6274 32.9919L89.8379 32.1551C90.434 30.1001 90.9542 28.1693 91.3985 26.3626C91.8429 24.5559 92.2771 22.606 92.7011 20.513L96.4906 21.3498L95.4179 25.7116L101.352 27.0219L102.425 22.6601L106.214 23.4969Z"
        fill="white"></path>
      <path
        d="M123.012 32.5894L121.4 33.0767C121.525 34.2297 121.206 35.4699 120.445 36.7972C119.453 38.5255 118.162 39.5924 116.573 39.998C114.983 40.4035 113.053 40.0212 110.783 38.8509C109.687 38.2859 108.808 37.6845 108.147 37.0468L107.369 37.2765L104.909 34.3379L106.42 33.892C106.273 32.6902 106.588 31.4113 107.366 30.0554C108.342 28.3557 109.627 27.2983 111.222 26.8832C112.827 26.4732 114.754 26.8482 117.005 28.0084C118.14 28.5936 119.048 29.2221 119.727 29.8941L120.551 29.6509L123.012 32.5894ZM110.845 31.8487C110.697 32.1065 110.571 32.3817 110.466 32.6742L115.658 31.1186C115.595 31.0738 115.485 31.011 115.328 30.9303C114.252 30.3754 113.356 30.1797 112.641 30.3431C111.926 30.5065 111.327 31.0084 110.845 31.8487ZM116.966 35.0039C117.114 34.7461 117.223 34.5116 117.294 34.3004L112.24 35.8155L112.46 35.929C113.546 36.4889 114.444 36.6919 115.154 36.5381C115.869 36.3747 116.473 35.8633 116.966 35.0039Z"
        fill="white"></path>
      <path
        d="M136.537 43.0128L132.398 47.1181C130.936 48.568 129.423 49.3183 127.858 49.369C126.308 49.4194 124.681 48.6722 122.976 47.1276C121.997 46.2408 121.228 45.2847 120.669 44.2595C120.118 43.2417 119.739 42.2238 119.533 41.2058C120.172 40.8655 120.764 40.5187 121.307 40.1655C121.851 39.8122 122.412 39.3941 122.993 38.9112C123.185 40.316 123.51 41.4639 123.97 42.355C124.43 43.2461 124.982 43.9835 125.627 44.5674C126.296 45.1734 126.918 45.4623 127.493 45.4341C128.067 45.4059 128.711 45.0466 129.422 44.3562L130.313 43.4723C131.579 42.2162 132.613 41.1208 133.415 40.1859L136.537 43.0128Z"
        fill="white"></path>
      <path
        d="M129.896 51.3002C130.585 51.3319 131.204 51.3276 131.755 51.2872C132.311 51.256 132.928 51.1769 133.605 51.0497C133.64 51.9328 133.829 52.8724 134.173 53.8683C134.517 54.8643 134.931 55.7365 135.416 56.485C135.913 57.2519 136.329 57.7537 136.666 57.9903C137.012 58.2214 137.266 58.2899 137.428 58.1958C138.009 57.8579 137.742 56.8297 136.629 55.111C135.408 53.226 134.722 51.7421 134.571 50.6594C134.43 49.5712 134.811 48.764 135.715 48.2379C136.999 47.4902 138.281 47.4566 139.56 48.1371C140.84 48.8176 142.015 49.9848 143.086 51.6388C143.709 52.5998 144.218 53.6587 144.613 54.8154C145.024 55.9758 145.274 57.09 145.363 58.1579C144.561 58.2554 143.613 58.4194 142.518 58.6498C142.291 58.7052 142.119 58.742 142 58.7605C142.084 58.0621 141.947 57.1623 141.588 56.0611C141.238 54.9542 140.826 54.0358 140.353 53.3059C139.785 52.428 139.34 51.8727 139.019 51.6397C138.707 51.4012 138.437 51.3485 138.209 51.4814C137.98 51.6143 137.929 51.9302 138.056 52.4291C138.198 52.9317 138.526 53.5803 139.041 54.375C140.31 56.3339 140.999 57.8926 141.107 59.051C141.225 60.2039 140.808 61.0573 139.856 61.6111C138.524 62.3864 137.258 62.4745 136.058 61.8754C134.867 61.2707 133.652 60.012 132.413 58.0992C131.749 57.0736 131.187 55.9629 130.727 54.7674C130.276 53.5663 129.999 52.4106 129.896 51.3002Z"
        fill="white"></path>
      <path
        d="M139.068 72.4563C139.815 71.709 140.936 70.5019 142.432 68.8348L140.011 67.5098L137.722 68.1538L136.493 64.2296C138.576 63.7352 140.512 63.236 142.303 62.7321C144.094 62.2282 146.005 61.645 148.034 60.9824L149.263 64.9066L144.605 66.2172C147.139 67.6077 149.122 68.5472 150.555 69.0357L152.153 74.142L145.64 70.5731C144.831 71.6008 143.961 72.7431 143.028 74.0001C142.099 75.2676 141.295 76.4025 140.617 77.4049L139.068 72.4563Z"
        fill="white"></path>
      <path
        d="M140.633 85.3243C140.582 82.8037 141.089 80.939 142.155 79.7302C143.232 78.5213 144.761 77.8986 146.742 77.8622C148.701 77.8262 150.243 78.387 151.368 79.5445C152.493 80.7131 153.081 82.5631 153.132 85.0947C153.183 87.6373 152.671 89.5076 151.594 90.7056C150.517 91.9145 148.999 92.537 147.04 92.573C145.048 92.6096 143.495 92.049 142.381 90.8913C141.267 89.7335 140.685 87.8779 140.633 85.3243ZM144.001 85.2624C144.026 86.4842 144.275 87.3605 144.748 87.8913C145.233 88.422 145.97 88.6782 146.961 88.66C147.929 88.6422 148.645 88.3593 149.107 87.8113C149.57 87.2633 149.788 86.3784 149.764 85.1566C149.739 83.9458 149.485 83.0751 149.001 82.5445C148.516 82.0138 147.79 81.7574 146.821 81.7752C145.842 81.7932 145.121 82.0762 144.658 82.6242C144.196 83.1722 143.977 84.0516 144.001 85.2624Z"
        fill="white"></path>
      <path
        d="M142.742 97.7201C141.978 100.82 141.382 103.393 140.954 105.44C140.442 105.177 139.937 104.971 139.441 104.825C138.945 104.678 138.337 104.522 137.618 104.359L140.48 93.0736C142.541 93.6333 144.478 94.1197 146.292 94.5328C148.106 94.9459 150.065 95.3469 152.17 95.7358L151.179 99.6415L142.742 97.7201Z"
        fill="white"></path>
      <path
        d="M137.859 110.091C135.876 113.774 134.479 116.463 133.667 118.16C133.298 117.893 132.902 117.644 132.477 117.412C132.057 117.194 131.521 116.925 130.869 116.605L137.011 105.34C138.887 106.357 140.66 107.274 142.331 108.093C144.002 108.911 145.818 109.751 147.778 110.613L141.636 121.879L138.951 120.564L143.228 112.72L141.804 112.023C141.541 112.482 141.162 113.166 140.667 114.075C139.829 115.611 138.992 117.216 138.155 118.888L135.604 117.639C136.559 116.025 137.456 114.449 138.294 112.912C138.789 112.004 139.159 111.315 139.402 110.846L137.859 110.091Z"
        fill="white"></path>
      <path
        d="M129.714 134.882C128.35 133.62 126.86 132.3 125.243 130.922C123.617 129.537 122.069 128.269 120.6 127.118L124.668 122.828L134.281 125.775L127.213 120.144L130.133 117.064C131.698 118.513 133.189 119.841 134.605 121.048C136.013 122.247 137.56 123.507 139.247 124.828L135.065 129.238L125.252 126.143L132.497 131.946L129.714 134.882Z"
        fill="white"></path>
      <path
        d="M122.195 140.043C120.436 141.133 118.902 141.786 117.594 142.001C116.293 142.225 115.188 142.095 114.28 141.61C113.368 141.14 112.547 140.374 111.815 139.314C111.122 138.308 110.75 137.284 110.699 136.241C110.648 135.199 110.947 134.18 111.596 133.183C112.25 132.195 113.261 131.278 114.627 130.432C115.46 129.916 116.307 129.391 117.168 128.858C118.029 128.324 118.903 127.79 119.789 127.254C120.945 129.086 122.054 130.772 123.116 132.313C124.191 133.872 125.35 135.476 126.593 137.124C125.542 137.905 124.076 138.878 122.195 140.043ZM116.099 133.381C115.229 133.92 114.789 134.484 114.78 135.071C114.772 135.659 115.014 136.311 115.508 137.027C115.982 137.715 116.521 138.177 117.124 138.412C117.717 138.652 118.435 138.512 119.277 137.99C120.185 137.428 120.844 136.98 121.256 136.647L118.135 132.12L116.099 133.381Z"
        fill="white"></path>
      <path
        d="M99.1232 137.03C99.9249 137.759 101.215 138.854 102.994 140.315L104.208 137.929L103.425 135.683L107.35 134.454C107.968 136.497 108.583 138.398 109.195 140.155C109.808 141.912 110.507 143.785 111.294 145.776L107.37 147.005L105.778 142.435C104.504 144.933 103.658 146.887 103.241 148.298L98.1347 149.897L101.404 143.477C100.314 142.688 99.1031 141.839 97.7725 140.93C96.4315 140.024 95.2323 139.24 94.1749 138.58L99.1232 137.03Z"
        fill="white"></path>
      <g filter="url(#filter0_g_368_2119)">
        <path
          d="M61.9463 63.707L62.0731 67.3392M62.0731 67.3392L68.722 65.4269C73.7252 63.9892 79.0778 64.3888 83.8121 66.5534L84.0782 66.675C88.7168 68.7952 93.9519 69.2223 98.8729 67.8822L106.342 65.8467C105.721 74.3284 106.023 82.8525 107.242 91.2692L99.7631 93.305C94.8417 94.6465 89.6057 94.2203 84.9661 92.1004L84.7 91.9788C79.9656 89.8141 74.6131 89.4146 69.6099 90.8523L62.961 92.7646M62.0731 67.3392L62.961 92.7646M63.4684 107.293L62.961 92.7646"
          stroke="white"
          stroke-width="3.63441"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
      <defs>
        <filter
          id="filter0_g_368_2119"
          x="58.3117"
          y="60.0724"
          width="52.5646"
          height="50.8551"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="BackgroundImageFix"
            result="shape"></feBlend>
          <feTurbulence
            type="fractalNoise"
            baseFrequency="0.073372773826122284 0.073372773826122284"
            numOctaves="3"
            seed="3734"></feTurbulence>
          <feDisplacementMap
            in="shape"
            scale="3.634408712387085"
            xChannelSelector="R"
            yChannelSelector="G"
            result="displacedImage"
            width="100%"
            height="100%"></feDisplacementMap>
          <feMerge result="effect1_texture_368_2119">
            <feMergeNode in="displacedImage"></feMergeNode>
          </feMerge>
        </filter>
        <linearGradient
          id="paint0_linear_368_2119"
          x1="84.5"
          y1="0"
          x2="84.5"
          y2="169"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#DB6200"></stop>
          <stop offset="1" stop-color="#C74E00"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>

<style>
  .rejsekalender {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 120px 80px;
  }
  .indhold {
    display: flex;
    gap: 50px;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .img-container {
    display: flex;
    gap: 10px;
  }
  .img-container :global(img) {
    aspect-ratio: 3/5;
    width: 350px;
    height: auto;
    border-radius: 16px;
  }
  p {
    max-width: 50ch;
  }
</style>
